@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;1,400&display=swap');

* {
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  background-color: #ffffff;
  height: 7vh;
  align-items: center;
  border-bottom: #000000 2px solid;
}

.nav-a {
  text-decoration: none;
  color: #000000;
  margin: 0 1rem;
}

.nav-a:hover {
  color: #5d4e94;
  transition: 0.2s;
  font-size: 1.05rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #6c6b6b;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  transition: 0.2s;
}

.card-item img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* styles api section */

.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.movie {
  display: flex;
  border: 1px solid black;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  width: 16vw;
  height: 60vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie h1 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}
.description {
  font-size: small;
  text-align: center;
}

.img-movie {
  width: 50%;
  border-radius: 10px;
}

.movie:hover {
  overflow: visible;
  padding: 10px;
  height: 100%;
  width: 20vw;
  transform: scale(1.01);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
